form {
    width: 100%;
    margin-top: 40px;
}
.add {
    text-align: left;
}
.title {
    text-align: left;
    width: 100%;
}
.title-text {
    width: 100%;
}
.form-control {
    width: 100%;
}
.content{
    text-align: left;
    width: 100%;
    padding-bottom: 0px;

}
.content-input{
    margin-top: 0px;
}
.image {
    width: 100%;
}
.input-image {
    width: 100%;
}
.input[type=file] {
    width: 100%;
}
Button{
    display: block;
    margin-top: 10px;
    float: right;
}

